<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<bean class="com.capg.spring.beans.Sbu" id="sbu">
<property name="sbuCode" value="PES-BU"></property>
<property name="sbuName" value="Product Engineering Services"></property>
<property name="sbuHead" value="Kiran Rao"></property>
<property name="empList">
<list>
<ref bean="emp1"/>  
<ref bean="emp2"/>  
</list>
</property>

</bean>  
  
<bean class="com.capg.spring.beans.Employee" id="emp1">  
<property name="employeeId" value="12345"></property>  
<property name="employeeName" value="Harriet"></property>  
<property name="salary" value="40000.0"></property>
<property name="age" value="30"></property>
</bean>  

<bean class="com.capg.spring.beans.Employee" id="emp2">  
<property name="employeeId" value="12365"></property>  
<property name="employeeName" value="Marriet"></property>  
<property name="salary" value="45000.0"></property>  
<property name="age" value="30"></property>
</bean>  
  
</beans> 